name: farmos

on: workflow_dispatch

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - BASE_IMAGE: "farmos/farmos"
            TAG: "4.x"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to aliyun
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
          password: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: "{{defaultContext}}:drupal"
          platforms: linux/amd64,linux/arm64
          file: "Dockerfile"
          tags: registry.cn-hangzhou.aliyuncs.com/lawxen/farmos:${{ matrix.version.TAG }}
          build-args: |
            BASE_IMAGE=${{ matrix.version.BASE_IMAGE }}
            TAG=${{ matrix.version.TAG }}